body {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
    background-color: #292a2c;
}

.calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 12px 40px 0px rgba(206, 159, 159, 0.2);
    border-radius: 1px;
    background: url(./images.jpeg);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}
.dropdown{
    background-color: #670a83;
    font-size: larger;
    font-weight: 900;
}
.dropdown:hover {
    border: 1px solid #79219c;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(46, 10, 70, 0.2);
    box-shadow: inset 1px 1px 0px 0px rgba(4, 4, 4, 4.2);
}
 .nav2 img {
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

.input {
    border: 3px solid #ddd;
    border-radius: 17px;
    height: 150px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    background-color: #393d3c;
    font-size: 2.5rem;
    overflow-x: auto;
    width: 95%;
    transition: all .2s ease-in-out;
    /* width: fit-content; */
    margin-top: 10px;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.mc {
    /* list-style-type: none; */
    justify-content: space-between;
    display: flex;
    /* background-color: #292a2c; */
    width: 100%;

    margin-top: 20px;
}

.mc .MC1,
.MC2,
.MC3,
.MC4,
.MC5,
.MC6 {
    background-color: #333335;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
    color: #f1f1f1;
}

.WE {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 30px;
    color: #f1f1f1;
    font-weight: 700;
    font-size: larger;
    /* text-align: center; */
}
.WE div:hover {
    background-color: #dfc1c1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 10px rgba(255, 158, 158, 0.2);
    /* border-color: #bbb; */
}
.WE .WE1 {
    background-color: rgb(133, 0, 93);

    padding: 28px;

    border-radius: 60px;
    align-items: center;
    text-align: center;
}

.WE .WE2 {
    background-color: rgb(133, 0, 93);
    /* background-color: rgb(91, 0, 133); */
    padding: 20px;

    border-radius: 60px;
    align-items: center;
    text-align: center;
}

.WE .WE3 {
    background-color: rgb(133, 0, 93);
    padding: 20px;

    border-radius: 60px;
    align-items: center;
    text-align: center;
}

.WE .WE4 {
    background-color: rgb(133, 0, 93);
    padding: 30px;

    border-radius: 80px;
    align-items: center;
    text-align: center;
}

.operators {
    display: flex;
    transition: all .2s ease-out;

    gap: 1rem;
}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}



div.leftPanel:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}

.numbers div {
    display: inline-block;
    /* border: 1px solid #ddd; */
    /* border-radius: 1px; */
    width: 41px;
    margin-right: 20px;
    justify-content: space-between;
    text-align: center;
    /* padding: 5px; */
    background-color: rgb(133, 0, 93);
    padding: 30px;
    color: #f1f1f1;
    font-weight: 900;
    font-size: larger;
    border-radius: 80px;
    align-items: center;
    text-align: center;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    /* background-color: #f9f9f9; */
    transition: all .2s ease-in-out;

}

.numbers div:hover {
    background-color: #d16767;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 10px rgba(255, 158, 158, 0.2);
    /* border-color: #bbb; */
}

.numbers div:active {
    font-weight: bold;
}

div.equal {
    display: inline-block;
    /* border: 1px solid #3079ED; */
    border-radius: 1px;
    width: 10%;
    height: 20px;
    text-align: center;
    /* display: flex; */
    /* padding: 127px 10px; */
    /* margin: 10px 6px 10px 0; */
    vertical-align: top;
    cursor: pointer;
    color: #FFF;  
      background-color: rgb(133, 0, 93);
    transition: all .2s ease-in-out;
}

div.equal:hover {
    background-color: #670a83;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    /* border-color: #1857BB; */
}

div.equal:active {
    font-weight: bold;
}